segundoparcial/miniproyecto/miniproyecto/node_modules/
segundoparcial/miniproyecto/primerproyecto/node_modules/
segundoparcial/miniproyecto/miniproyecto/.next/
segundoparcial/miniproyecto/primerproyecto/.next/